* {
  box-sizing: border-box;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 100%;
}

// Tablet sizes
@media (min-width: 600px) {
  .book {
    width: 50%;
  }
}

// Computer sizes
@media (min-width: 801px) {
  .book {
    width: 33%;
  }
}
